In [ ]:
import pandas as pd

### Melt()

In [ ]:
df = pd.DataFrame({
    'Measuring point': ['A', 'B', 'C', 'D'],
    'Temperature': [23.2, 25.5, 25.0, 24.1 ],
    'Humidity': [55, 51, 60, 44],
    'Type': ['DHT22', 'DHT11', 'DHT22', 'DHT20']
})
df

  Measuring point  Temperature  Humidity   Type
0               A         23.2        55  DHT22
1               B         25.5        51  DHT11
2               C         25.0        60  DHT22
3               D         24.1        44  DHT20

In [26]:
melted = pd.melt(df, id_vars=['Measuring point', 'Type']) # Specify column names: var_name='', value_name=''
melted

  Measuring point   Type     variable  value
0               A  DHT22  Temperature   23.2
1               B  DHT11  Temperature   25.5
2               C  DHT22  Temperature   25.0
3               D  DHT20  Temperature   24.1
4               A  DHT22     Humidity   55.0
5               B  DHT11     Humidity   51.0
6               C  DHT22     Humidity   60.0
7               D  DHT20     Humidity   44.0

### Pivot()

In [27]:
df2 = pd.DataFrame({
    'Measuring point': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Temperature': [23.2, 25.5, 23.4, 25.0, 24.1, 26.2 ],
    'Time': ["03:08:32", "03:08:34", "03:10:54", "03:10:56", "03:12:45", "03:12:50"],
    'Type': ['DHT22', 'DHT11', 'DHT22', 'DHT11', 'DHT22','DHT11']
})
df2

  Measuring point  Temperature      Time   Type
0               A         23.2  03:08:32  DHT22
1               B         25.5  03:08:34  DHT11
2               A         23.4  03:10:54  DHT22
3               B         25.0  03:10:56  DHT11
4               A         24.1  03:12:45  DHT22
5               B         26.2  03:12:50  DHT11

In [35]:
pivoted = df2.pivot(index=['Time', 'Type'], columns="Measuring point", values="Temperature")
pivoted

Measuring point     A     B
Time     Type
03:08:32 DHT22   23.2   NaN
03:08:34 DHT11    NaN  25.5
03:10:54 DHT22   23.4   NaN
03:10:56 DHT11    NaN  25.0
03:12:45 DHT22   24.1   NaN
03:12:50 DHT11    NaN  26.2

### Reversible reshaping?

Try to reshape the pivoted Dataframe using melt(), v.v. 

Hint: reset_index() might come in handy.